﻿<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-5" href="@Url.Action("Index","Home")">SQLLearn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tables
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom regions" })">Regions</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Categories" })">Categories</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom UsStates" })">UsStates</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Territories" })">Territories</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Suppliers" })">Suppliers</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Shippers" })">Shippers</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Products" })">Products</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Orders" })">Orders</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom OrderDetails" })">OrderDetails</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Customers" })">Customers</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom Employees" })">Employees</a>
                    <a class="dropdown-item" href="@Url.Action("Query", "Home", new { sql = "select *\nfrom EmployeeTerritories" })">EmployeeTerritories</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Query", "Home")">Query <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Tasks", "Home")">Tasks <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>