﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=devive-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <title>@ViewData["Title"]</title>
    <style>
        span{
            color:firebrick;
        }
    </style>
</head>
<body>

    @await Html.PartialAsync("_Header")

    <div class="container-fluid">
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")
</body>
</html>