﻿@model IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-info mt-3" role="alert">
    <b>At the moment program has:</b>
    <ul class="mt-3">
        <li>Tables: @Model.Types.Count()</li>
        <li>Query: @Model.CountQuery</li>
    </ul>
</div>

<div class="row">
    @foreach (var a in @Model.Types)
    {
    <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 mb-3">
        <div class="card h-100 w-100 " style="width: 18rem;">
            <h5 class="card-header">@a.Relational().TableName</h5>
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        @foreach (var item in @a.ClrType.GetFields(BindingFlags.Instance |
                    BindingFlags.Static |
                    BindingFlags.NonPublic |
                    BindingFlags.Public))
                        {

                            <li style="font-size: 12px;"> (@item.FieldType.Name) @item.Name.Substring(item.Name.IndexOf('<') + 1, item.Name.LastIndexOf('>') - 1)</li>

                        }
                    </ul>

                </p>
                
            </div>
            <div class="card-footer">
                <form id="@a.Relational().TableName" method="post" asp-action="Query">
                    <input type="hidden" name="sql" value="@("select *\nfrom " + a.Relational().TableName)" />
                    <input type="hidden" name="task" value="@("Get date from " + a.Relational().TableName + " table")" />
                </form>

                <button class="btn btn-primary btn-block align-content-end"  onclick="$('form#@a.Relational().TableName').submit();">Get table date</button>
            </div>
        </div>
    </div>
    }

</div>
