﻿@{
    ViewData["Title"] = "Query page";
}

@if (ViewBag.Task != null)
{
    <div class="alert alert-info mt-3" role="alert">
        @Html.Raw(@ViewBag.Task)
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @Html.Raw(@ViewBag.Error)
    </div>
}

<form asp-action="Query" class="mb-3" method="post" enctype="multipart/form-data">
    <div class="col-md-12 my-3 p-0">
        <label>Sql query:</label><br />
        <textarea class="form-control" name="sql" rows="5" cols="100">@(ViewBag.SQL != null ? ViewBag.SQL : "")</textarea>
    </div>
    <input class="btn btn-outline-danger px-5" value="Send request" type="submit" />
</form>


@if (ViewBag.Data != null)
{
    <small>All rows: @ViewBag.Data.Count   &nbsp;&nbsp;&nbsp;&nbsp;Time query: @ViewBag.Time ms</small>
    <table class="table table-striped">
        <thead style="font-weight: 700;">
            <tr>
                @foreach (var column in ViewBag.Columns)
                {
                    <td scope="col">@(column.Caption) <small>(@(column.DataType.Name))</small></td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var a in @ViewBag.Data)
            {
                <tr>
                    @for (int i = 0; i < a.ItemArray.Length; i++)
                    {
                        <td> @(a.ItemArray[i])</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}