﻿@model IEnumerable<Lesson>
@{
    ViewData["Title"] = "Tasks";
}

<div id="accordion" class="mt-3">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#numb@(item.Number)" aria-expanded="true" aria-controls="numb@(item.Number)">
                        @item.Name
                    </button>
                </h5>
            </div>

            <div id="numb@(item.Number)" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    @foreach (var task in item.Tasks)
                    {
                        <form id="les@(item.Number)tas@(task.Number)" method="post" asp-action="Query">
                            <input type="hidden" name="sql" value="@task.Answer"/>
                            <input type="hidden" name="task" value="@task.TextAsk" />
                        </form>

                        <div class="card" style="cursor:pointer;" onclick="$('form#les@(item.Number)tas@(task.Number)').submit();">
                            <div class="card-body">
                                <div class="float-left block mr-4" style="font-size: 30px;">
                                    @task.Number
                                </div>
                                @Html.Raw(task.TextAsk)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
<!--
     <div id="accordion" class="mt-3">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       1
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="card" style="cursor:pointer;" onclick="location.href='@Url.Action("Query", "Home", new { sql = "select id, customerid, orderdate, shipvia from orders where orderdate >= '2017-08-16' and shipvia = 3", task = "Выбрать в таблице <span class=\"rct\">Orders</span> заказы, которые были сделаны после 16 августа 2017 года (колонка <span class=\"rct\">OrderDate</span>) включительно и которые доставлены с <span class=\"rct\">ShipVia</span> = 3. Запрос должен возвращать только колонки <span class=\"rct\">OrderId</span>, <span class=\"rct\">CustomerId</span>, <span class=\"rct\">OrderDate</span>, и <span class=\"rct\">ShipVia</span>." })';">
                        <div class="card-body">
                            <div class="float-left block mr-4" style="font-size: 30px;">
                                1
                            </div>
                            Выбрать в таблице <span class="rct">Orders</span> заказы, которые были сделаны после 16 августа 2017 года (колонка <span class="rct">OrderDate</span>) включительно и которые доставлены с <span class="rct">ShipVia</span> = 3. Запрос должен возвращать только колонки <span class="rct">OrderId</span>, <span class="rct">CustomerId</span>, <span class="rct">OrderDate</span>, и <span class="rct">ShipVia</span>.
                        </div>
                    </div>
                    <div class="card"  style="cursor:pointer;">
                        <div class="card-body">
                            <div class="float-left block mr-4" style="font-size: 30px;">
                                2
                            </div>
                            Написать запрос, который выводит заказы без указанного ship_region из таблицы orders. В результатах запроса возвращать для колонки ship_region вместо значений NULL строку ‘Not set’ (использовать системную функцию CASЕ). Запрос должен возвращать только колонки order_id, order_date, ship_country, ship_region и ship_city
                        </div>
                    </div>
                    <div class="card"  style="cursor:pointer;">
                        <div class="card-body">
                            <div class="float-left block mr-4" style="font-size: 30px;">
                                3
                            </div>
                            Выбрать в таблице orders заказы, которые сделаны после 27 апреля 2018 года (order_date) не включая эту дату и которые еще не доставлены (shipped_date = null). В запросе должны возвращаться только колонки order_id (переименовать в Номер заказа), required_date (переименовать в “Дата доставки”) и shipped_date (переименовать в “Дата отправки”). В результатах запроса возвращать для колонки “Дата отправки” вместо значений NULL строку ‘-’, для остальных значений возвращать дату в формате по умолчанию.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        4
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        5
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                        6
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                        7
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                        8
                    </button>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
-->
